# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE settings
.vscode/
.idea/

# Coverage reports
coverage/

# Build output
dist/
build/